<header class="navbar navbar-fixed-top navbar-inverse">
<div class="logo">
    <h1>Ali Al-Bahrani</h1>
</div>
    <nav>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", "#" %></li>
        <li><%= link_to "Help", "#" %></li>
    </ul>
</nav>
</header>
<div class="body">
<div class="center jumbotron">
    <h1>Welcome to Our Quiz Page</h1>
    <h2>All the Answer as below </h2>

    <ul>
        <li>13. What is the difference between Ruby and Ruby on Rails? <strong>Answer : A</strong></li>
        <li>14. What is the purpose of a view in a Rails application?  <strong>Answer : C</strong></li>
        <li>15. In the following code, what does ‘pages#home’ mean?  <strong>Answer : A</strong></li>
        <li>16. Which of these commands starts a new Rails project? <strong>Answer : D</strong></li>
        <li>17. What are the three main components of a static Rails application? <strong>Answer : D</strong></li>
        <li>18. What command should you run after creating a new project to make sure that project has the gems it needs? <strong>Answer : D</strong></li>
        <li>19. What command will start a rails server? <strong>Answer : A</strong></li>
        <li>20. What is another name for methods in the controller of a Rails Application? <strong>Answer : B</strong></li>
        
        <h1> Thanks So much for the qreat quiz</h1>
        
    </ul>
    </div>
    
    
</div>